# items copied from gitignore as they aren't needed in docker image either
*.exe
*.exe~
*.dll
*.dylib
*.test
*.out
coverage.html
vendor/
go.work
*.o
*.a
*.so
Thumbs.db
.DS_Store
*.cert
*.key
*.log
bin/
.vscode/
.idea/
*.swp
.docker
inventory.db
inventory-api.tar
inventory-e2e-tests.tar
kafka-connect.tar
multicluster-global-hub/
scripts/kubeconfig-global-hub

# docker specific ignores to reduce context size
.git
.github/
.gitignore
.tekton/
dashboards/
deploy/
development/
docs/
scripts/
.gitignore
*.sh
*.md
Jenkinsfile
