apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: inventory
objects:
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: ClowdApp
    metadata:
      name: kessel-inventory
    spec:
      envName: ${ENV_NAME}
      database:
        name: kessel-inventory
      kafkaTopics:
      - topicName: outbox.event.kessel.tuples
        partitions: 1
        replicas: 3
      - topicName: outbox.event.kessel.resources
        partitions: 1
        replicas: 3
      optionalDependencies:
        - kessel-relations
      deployments:
        - name: api
          replicas: ${{REPLICAS}}
          podSpec:
            initContainers:
            - name: copy-resources
              image: registry.access.redhat.com/ubi9
              imagePullPolicy: Always
              command:
                - /bin/sh
                - "-c"
                - |
                  echo "Extracting resources from tarball..."
                  tar -xzf /mnt/resources/resources.tar.gz -C /data/schema/resources
                  echo "Extraction complete!"
              volumeMounts:
                - name: resources-tarball
                  mountPath: "/mnt/resources"
                - name: resource-volume
                  mountPath: "/data/schema/resources"
            - name: migration
              image: ${INVENTORY_IMAGE}:${IMAGE_TAG}
              command: ["inventory-api"]
              args: ["migrate"]
              inheritEnv: true
            image: ${INVENTORY_IMAGE}:${IMAGE_TAG}
            command: ["inventory-api"]
            args: ["serve"]
            livenessProbe:
              httpGet:
                path: /api/inventory/v1/livez
                port: 8000
            readinessProbe:
              httpGet:
                path: /api/inventory/v1/readyz
                port: 8000
            resources:
              requests:
                memory: ${INVENTORY_REQUESTS_MEMORY}
                cpu: ${INVENTORY_REQUESTS_CPU}
              limits:
                memory: ${INVENTORY_LIMITS_MEMORY}
                cpu: ${INVENTORY_LIMITS_CPU}
            env:
            - name: CLOWDER_ENABLED
              value: "true"
            - name: INVENTORY_API_CONFIG
              value: "/inventory/inventory-api-config.yaml"
            - name: PGDATA
              value: /temp/data
            - name: RESOURCE_DIR
              value: "/data/schema/resources"
            volumeMounts:
                - name: config-volume
                  mountPath: "/inventory"
                - name: kafka-ca-certs
                  mountPath: "/kafka-ca-certs"
                - name: resource-volume
                  mountPath: "/data/schema/resources"
                - name: resources-tarball
                  mountPath: "/mnt/resources"
            volumes:
              - name: config-volume
                secret:
                  secretName: ${INVENTORY_API_CONFIG_SECRET}
              - name: kafka-ca-certs
                secret:
                  secretName: ${CA_CERT_SECRET}
                  optional: true
              - name: resource-volume
                emptyDir: { }
              - name: resources-tarball
                configMap:
                  name: resources-tarball
          webServices:
            public:
              enabled: true
              apiPath: inventory
              tls: true

      testing:
        iqePlugin: kessel-inventory

  - kind: PodDisruptionBudget
    apiVersion: policy/v1
    metadata:
      name: kessel-inventory-api-pdb
    spec:
      minAvailable: 1
      selector:
        matchLabels:
          app: kessel-inventory

# Temporary fix for RHCLOUD-40690
  - apiVersion: batch/v1
    kind: CronJob
    metadata:
      name: rhcloud-40690-heartbeat-fix
    spec:
      jobTemplate:
        metadata:
          name: rhcloud-40690-heartbeat-fix
        spec:
          successfulJobsHistoryLimit: 1
          failedJobsHistoryLimit: 3
          template:
            spec:
              containers:
              - name: rhcloud-40690-heartbeat-fix
                command:
                - /bin/sh
                - -c
                - curl -o /tmp/heartbeat-fix.sh https://raw.githubusercontent.com/project-kessel/inventory-api/${COMMIT_REF}/scripts/heartbeat-fix.sh && chmod +x /tmp/heartbeat-fix.sh && /tmp/heartbeat-fix.sh
                env:
                - name: SA_CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      name: kessel-sso-sa
                      key: client-id
                - name: SA_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: kessel-sso-sa
                      key: client-secret
                - name: SSO_URL
                  valueFrom:
                    secretKeyRef:
                      name: kessel-sso-sa
                      key: url
                image: registry.access.redhat.com/ubi9/ubi-minimal
                resources:
                  limits:
                    cpu: 200m
                    memory: 512Mi
                  requests:
                    cpu: 100m
                    memory: 384Mi
              restartPolicy: Never
      schedule: '@hourly'

parameters:
  - description: ClowdEnvironment name (ephemeral, stage, prod)
    name: ENV_NAME
    required: true
  - description: App Image
    name: INVENTORY_IMAGE
    value: quay.io/redhat-services-prod/project-kessel-tenant/kessel-inventory/inventory-api
  - description: Image Tag
    name: IMAGE_TAG
    required: true
    value: latest
  - description: Number of replicas
    name: REPLICAS
    value: "1"
  - description: Name of the Inventory API Config K8s secret
    name: INVENTORY_API_CONFIG_SECRET
    value: inventory-api-config
  - description: Name of Secret that contains the Kafka clusters' CA Cert (if required)
    name: CA_CERT_SECRET
    value: kessel-kafka-connect-config
  - description: Memory request for Inventory service
    name: INVENTORY_REQUESTS_MEMORY
    value: '512Mi'
  - description: CPU request for Inventory service
    name: INVENTORY_REQUESTS_CPU
    value: '250m'
  - description: Memory limit for Inventory service
    name: INVENTORY_LIMITS_MEMORY
    value: '1Gi'
  - description: CPU limit for Inventory service
    name: INVENTORY_LIMITS_CPU
    value: '500m'
  - name: COMMIT_REF
    description: Git commit ref to specify the git commit version to use for pulling down the heartbeat-fix script
    required: true
