server:
  http:
    address: 0.0.0.0:8081
  grpc:
    address: 0.0.0.0:9081
authn:
  oidc:
    authn-server-url: http://localhost:8084/realms/redhat-external
    skip-client-id-check: true
    skip-issuer-check: true
authz:
  impl: kessel
  kessel:
    insecure-client: true
    url: localhost:9000
    enable-oidc-auth: false
    principal-user-domain: 0.0.0.0:8084
eventing:
  eventer: stdout
  kafka:
storage:
  max-serialization-retries: 10
  database: postgres
  postgres:
    host: "localhost"
    port: "5433"
    user: "postgres"
    password: "yPsw5e6ab4bvAGe5H"
    dbname: "spicedb"
consumer:
  enabled: true
  bootstrap-servers: localhost:9092
  retry-options:
    consumer-max-retries: 3
    operation-max-retries: 4
    backoff-factor: 5
  auth:
    enabled: false
service:
  use_v1beta2_db: true
resources:
  schemaPath: "data/schema/resources"
  use_cache: true
log:
  level: "info"
  livez: true
  readyz: true

