server:
  http:
    address: 0.0.0.0:8081
  grpc:
    address: 0.0.0.0:9081
authn:
  authenticator:
    type: first_match
    chain:
      - type: x-rh-identity
        transport:
          http: true
          grpc: false
      - type: allow-unauthenticated
        transport:
          http: true
          grpc: true
authz:
  impl: kessel
  kessel:
    insecure-client: true
    url: relations-api:9000
    enable-oidc-auth: false
    principal-user-domain: 0.0.0.0:8084
consistency:
  default-to-at-least-as-acknowledged: true
selfSubjectStrategy:
  redhatRbacSelfSubjectStrategy:
    enabled: true
    issuerDomain: rbac
    oidcIssuerDomains:
      - iss: "https://example.invalid/issuer"
        domain: rbac
eventing:
  eventer: stdout
  kafka:
storage:
  max-serialization-retries: 10
  database: postgres
  postgres:
    host: "invdatabase"
    port: "5433"
    user: "postgres"
    password: "yPsw5e6ab4bvAGe5H"
    dbname: "spicedb"
schema:
  repository: in-memory
  in-memory:
    type: json
    path: schema_cache.json
consumer:
  enabled: true
  bootstrap-servers: kafka:9093
  retry-options:
    consumer-max-retries: 3
    operation-max-retries: 4
    backoff-factor: 5
  auth:
    enabled: false
log:
  level: "debug"
  livez: true
  readyz: true

