server:
  http:
    address: 0.0.0.0:8081
  grpc:
    address: 0.0.0.0:9081
authn:
  oidc:
    authn-server-url: http://keycloak:8084/realms/redhat-external
    skip-client-id-check: true
    skip-issuer-check: true
    principal-user-domain: localhost
authz:
  impl: kessel
  kessel:
    insecure-client: true
    url: relations-api:9000
    enable-oidc-auth: false
    principal-user-domain: 0.0.0.0:8084
eventing:
  eventer: stdout
  kafka:
storage:
  max-serialization-retries: 10
  database: postgres
  postgres:
    host: "invdatabase"
    port: "5433"
    user: "postgres"
    password: "yPsw5e6ab4bvAGe5H"
    dbname: "spicedb"
consumer:
  enabled: true
  bootstrap-servers: kafka:9093
  retry-options:
    consumer-max-retries: 3
    operation-max-retries: 4
    backoff-factor: 5
  auth:
    enabled: false
schema:
  repository: in-memory
  in-memory:
    type: json
    path: schema_cache.json
log:
  level: "info"
  livez: true
  readyz: true
