# This config is designed to run with Relations locally
# ports have been updated to prevent conflicts
# authz configured for local running relations binary
server:
  public_url: http://localhost:8081
  http:
    address: localhost:8081
  grpc:
    address: localhost:9091
authn:
   allow-unauthenticated: true
authz:
  impl: kessel
  kessel:
    insecure-client: true
    url: localhost:9000
    enable-oidc-auth: false
    principal-user-domain: 0.0.0.0:8084
eventing:
  eventer: stdout
  kafka:
storage:
  max-serialization-retries: 10
  database: postgres
  postgres:
    host: localhost
    port: 5435
    user: inventory_api
    password: postgres
    dbname: inventory
consumer:
  enabled: false
schema:
  repository: in-memory
  in-memory:
    type: json
    path: schema_cache.json
log:
  level: "info"
  livez: true
  readyz: true
