name: E2E Testing with Kind

on:
  workflow_call:
  pull_request:
    branches: ['main']

jobs:
  e2e-test:
    name: E2E Test Inventory API
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set Environment Variable for Resource Directory
        run: echo "RESOURCE_DIR=$(pwd)/data/resources" >> $GITHUB_ENV

      - name: Inventory Up - Kind Cluster
        run: make inventory-up-kind

      - name: Verify E2E test results
        run: make check-e2e-tests

      - name: Inventory Down - Kind Cluster
        run: make inventory-down-kind
