name: buf-pull-request
on: pull_request
permissions:
  contents: read
  pull-requests: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-action@v1
        with:
          format: false
          lint: true
          breaking: true
          input: "api"
      - name: buf breaking (ignore unstable packages)
        run: |
            buf breaking \
              --error-format=github-actions \
              --against "https://github.com/${{ github.repository }}.git#branch=${{ github.base_ref }},subdir=api" \
              --ignore-unstable-packages